div.stApp.css-ffhzg2.eczokvf1 {
    margin-top: -100px;
}

header.css-18ni7ap.e8zbici2 {
   background-color: #0e1117;
}   

span.css-10trblm.e16nr0p30 {
    color: #ffff;
}

p {
    color: #ffff;
}

#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

img {
    margin-top: 150px;
    margin-bottom: -40px;
    border-radius: 10px;
}

div.css-1v0mbdj.etr89bj1 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 50px 0px -100px 0px;
    padding: 0px;
}

button.styles_terminalButton__3xUnY {
    visibility: hidden;
}


